ch04 advanced/demos/before/AdvancedBlendWpf/AdvancedBlendWpf/SampleData/OurSampleData/OurSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.OurSampleData" targetNamespace="Expression.Blend.SampleData.OurSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OurSampleData" type="tns:OurSampleData" />
  <xs:complexType name="OurSampleData">
    <xs:sequence>
      <xs:element name="Games" type="tns:Games" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GamesItem" type="tns:GamesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GamesItem">
    <xs:attribute blend:FormatParameters="3,5" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="Price" type="xs:double" />
    <xs:attribute blend:Format="Date" name="ReleaseDate" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\SampleDataFiles" name="CoverImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>