ch01 tour/Code/after/TourOfBlend/TourOfBlend/SampleData/GameData/GameData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.GameData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.GameData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameData" type="tns:GameData" />
  <xs:complexType name="GameData">
    <xs:sequence>
      <xs:element name="Games" type="tns:Games" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Games">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="GamesItem" type="tns:GamesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GamesItem">
    <xs:sequence>
      <xs:element name="Genre" type="tns:Genre" />
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\..\..\..\Courses\SL5Apps\Labs\resources\images" name="Cover" type="tns:Basic-Image" />
    <xs:attribute blend:Format="Price" name="Price" type="xs:string" />
    <xs:attribute blend:Format="Date" name="ReleaseDate" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Genre">
    <xs:attribute blend:FormatParameters="2,6" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>